.navigation_bar {
  margin: 0;
  padding: 0 2rem 1rem 2rem;
  border-bottom: solid 1px rgba(148, 148, 148, 0.5);
}

.navigation_bar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation_bar_list_item {
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: solid 1.5px transparent;
  transition: all 0.3s;
}

.navigation_bar_list_item:hover {
  cursor: pointer;
  border-bottom-color: rgba(0, 0, 0, 0.75);
}

.navigation_bar_list_item_group {
  display: flex;
  gap: 2rem;
}

.navigation_bar_list_item p {
  margin: 0;
  padding: 0;
}

.navigation_bar_list_item span {
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
  background: rgba(0, 128, 0, 0.2);
}
